<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, ">
    <title>Giga Search - Product Details</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/customstyles.css}" rel="stylesheet">
</head>

<body>
    <!-- Top Bar -->
    <nav class="navbar navbar-light bg-custom-color">
        <span class="mx-auto navbar-brand mb-0 h1">Giga Search - Product Details</span>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Product Details</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Product Name</td>
                        <td th:text="${product.productName}"></td>
                    </tr>
                    <tr>
                        <td>Product Brand</td>
                        <td th:text="${product.productBrand}"></td>
                    </tr>
                    <tr>
                        <td>Product Category</td>
                        <td th:text="${product.productCategory}"></td>
                    </tr>
                    <tr>
                        <td>Product URL</td>
                        <td th:text="${product.productUrl}"></td>
                    </tr>
                </tbody>
            </table>

            <!-- Canvas for the chart -->
            <canvas id="priceChart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- <script th:inline="javascript">
        /*<![CDATA[*/
        // Extract product information from Thymeleaf model
        var product = /*[[${product}]]*/ {};
        var product_prices = /*[[${product_prices}]]*/ {};

        console.log('Product:', product);
        console.log('Product Prices:', product_prices);


        // Extract dates and values from product_prices
        var dates = product_prices.dates;       //debug
        var values = product_prices.values;     //debug

        // Create a line chart using Chart.js
        var ctx = document.getElementById('priceChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Price Over Time',
                    data: values,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category', // Use 'category' for non-time x-axis
                        labels: dates,     // Provide labels directly
                        offset: true, // Add some space before and after the labels
                    },
                    y: {
                        beginAtZero: false,
                        grace: '50%', // Add space above the highest value
                    }
                }
            }
        });
        /*]]>*/
    </script> -->

    <script th:inline="javascript">
        /*<![CDATA[*/
        // Set data as global variables
        var product = /*[[${product}]]*/ {};
        var product_prices = /*[[${product_prices}]]*/ {};
        /*]]>*/
    </script>

    <!-- Include external script -->
    <script th:src="@{/js/chartScript.js}" defer="defer"></script>

</body>

</html>